/* @import 'bootstrap/dist/css/bootstrap.min.css'; */
html, body {
    margin: 0px;
    padding: 0px;
}
html {
    width: 100%;
    height: 100%;
    display: table;
}

body {
    width: 100%;
    display: table-cell;
}

*, *:before, *:after {
    box-sizing: border-box;
  }