@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Imprima&display=swap");

header {
    text-align: center;
    
    justify-content: space-between;
    font-family: 'Hind';
    font-size: 25px;
    align-items: center;
}

#mood-title {
    font-size: 48px;
    font-weight: 600;
    text-align: center 
   
}
#ylw-span {
    color: #fffd98;
    
}
#verse-span {
    font-weight: 100;
}
