.home-ctn {
    padding: 25px;
    margin: 0 auto;
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
}

.btn-ctn {

    border-radius: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#record-btn {

    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px dotted white;
    background-color: red;
    font-size: 0;
    outline: none;
}
.btn-ctn-ctn {
display: flex;
justify-content: center;
padding: 1rem;
}
.is-recording {

    animation: spin 10s linear infinite;
}
.is-blinking {

    animation: spin 10s linear infinite;
}
.mood-content-ctn {
    font-size: 45px;
    text-align: center;
    padding: 20% 100px 50px 100px;
}

@keyframes dotted{
    0%{
        border: 1px solid white;
        box-shadow: 0px 0px 5px 0px rgba(202, 169, 163, 0.3);
    }
    65%{
        border: 1px dotted white;
        box-shadow: 0px 0px 5px 13px rgba(207, 141, 131, 0.3);
    }
    90%{
        border: 1px solid white;
        box-shadow: 0px 0px 5px 13px rgba(201, 188, 186,0);
    }
}
@keyframes pulse{
    0%{
        box-shadow: 0px 0px 5px 0px rgba(202, 169, 163, 0.3);
    }
    65%{
		box-shadow: 0px 0px 5px 13px rgba(207, 141, 131, 0.3);
	}
	90%{
		box-shadow: 0px 0px 5px 13px rgba(201, 188, 186,0);
	}
}
@keyframes spin { 
    100% { 
      transform: rotateZ(360deg);
    }
  }